{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CSR</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'home/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'home/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'home/css/creative.css' %}" rel="stylesheet">
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">CRS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Chatbot</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#analysis">Analysis</a>
                    </li>
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Cancer Recommendation System</h1>
                <hr>
                <p>This is a recommendation system trained by SEER. </p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About SEER!</h2>
                    <hr class="light">
                    <p class="text-faded">The Surveillance, Epidemiology, and End Results (SEER) program of the National Cancer Institute (NCI) is a source of epidemiologic information on the incidence and survival rates of cancer in the United States. SEER collects and publishes cancer incidence and survival data from population-based cancer registries covering approximately 28% of the population of the United States. SEER coverage includes 26% of African Americans, 41% of Hispanics, 43% of American Indians and Alaska Natives, 54% of Asians, and 71% of Hawaiian/Pacific Islanders.</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Interact with the bot</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
       
<!--        <div id = "chat-window"> 
            <div class="chat-popup" style = "display: none;" id="myForm">
                <form action="/action_page.php" class="form-container">
                    <h1>Chatbot</h1>

                    <label for="msg"><b>Message</b></label>
                    <textarea id = "textarea" placeholder="Type message.." name="msg" required></textarea>

                    <button type="button" id = "send" class="btn">Send</button>
                    <button type="button" id = "close" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
            </div>
            <button id = "chat"  class="open-button" >Chatbot</button>
        </div>
       
-->
<div>
    <div  id= "a" class="form-inlin">
        <p>Hi... I am chatbot!</p>
    </div>
    <br>
    <div id = "maritalStatus">
      <button type="button" class="df btn btn-primary btn-xs">Married</button>
      <button type="button" class="df btn btn-primary btn-xs">Widowed</button>
      <button type="button" class="df btn btn-primary btn-xs">Single</button>
      <button type="button" class="df btn btn-primary btn-xs">Divorced</button>
      <button type="button" class="df btn btn-primary btn-xs">Seperated</button>
      <button type="button" class="df btn btn-primary btn-xs">Unknown</button>
      <button type="button" class="df btn btn-primary btn-xs">Unmarried</button>
      <button type="button" class="df btn btn-primary btn-xs">Domestic Partner</button>
    </div>
    <div id = "race">
      <button type="button" class="df btn btn-primary btn-xs">White</button>
      <button type="button" class="df btn btn-primary btn-xs">Black</button>
      <button type="button" class="df btn btn-primary btn-xs">Filipino</button>
      <button type="button" class="df btn btn-primary btn-xs">Chinese</button>
      <button type="button" class="df btn btn-primary btn-xs">Japanese</button>
    </div>
    <div id = "primarySite">
      <button type="button" class="df btn btn-primary btn-xs">501</button>
      <button type="button" class="df btn btn-primary btn-xs">502</button>
      <button type="button" class="df btn btn-primary btn-xs">503</button>
      <button type="button" class="df btn btn-primary btn-xs">504</button>
      <button type="button" class="df btn btn-primary btn-xs">505</button>
      <button type="button" class="df btn btn-primary btn-xs">506</button>
      <button type="button" class="df btn btn-primary btn-xs">507</button>
      <button type="button" class="df btn btn-primary btn-xs">508</button>
      <button type="button" class="df btn btn-primary btn-xs">509</button>
    </div>
    <div id = "laterality">
      <button type="button" class="df btn btn-primary btn-xs">Left - origin of primary</button>
      <button type="button" class="df btn btn-primary btn-xs">Right - origin of primary</button>
      <button type="button" class="df btn btn-primary btn-xs">Paired site, but no information concerning laterality</button>
      <button type="button" class="df btn btn-primary btn-xs">Bilateral, single primary</button>
      <button type="button" class="df btn btn-primary btn-xs">Only one side - side unspecified</button>
    </div>
    <div id = "surgery">
      <button type="button" class="df btn btn-primary btn-xs">Surgery Performed</button>
      <button type="button" class="df btn btn-primary btn-xs">Not recommended</button>
      <button type="button" class="df btn btn-primary btn-xs">Not performed</button>
      <button type="button" class="df btn btn-primary btn-xs">Unknown</button>
      <button type="button" class="df btn btn-primary btn-xs">Recommended but not did</button>
      <button type="button" class="df btn btn-primary btn-xs">Autopsy</button>
    </div>

</div>
<br>
<br>
<br>
<br>
<div class="form-inline">
  <div class="input-group">
  <span class="glyphicon glyphicon-user"></span> &nbsp;
    <div class="input-group-btn">

        
      <input id = "textarea" type="text" class="form-control">
    </div>
    &nbsp;
    <button id = "send"class="btn btn-primary" type="button">Send</button>
    
  </div>
</div>
</section>  
    
<section id="analysis">
        <div class="container">
            <div class="row">
                <h4>Cancer Stage:   <span id = "cs"></span></h4>  
    
                    
                    <h4>Survival months :    <span id = "sm" ></span> </h4> <br>
                    
                </div>
            </div>

    </section>
    <!-- jQuery -->
    <script src="{% static 'home/vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'home/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'home/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'home/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'home/js/creative.js' %}"></script>

</body>

</html>
